In [2]:
import pandas as pd     # Importing Necessary Modules

tw_df = pd.read_csv(r"E:\GUVI- Data Science\Final Porj\twitter_new.csv", encoding='latin-1')    # Reading the file

In [3]:
tw_df     # File Display

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [4]:
tw_df['target'].value_counts()          # Checking the data.

0    800000
4    800000
Name: target, dtype: int64

In [5]:
tw_df['text']        # Checking the tweet text data.

0          @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          is upset that he can't update his Facebook by ...
2          @Kenichan I dived many times for the ball. Man...
3            my whole body feels itchy and like its on fire
4          @nationwideclass no, it's not behaving at all....
                                 ...
1599995    Just woke up. Having no school is the best fee...
1599996    TheWDB.com - Very cool to hear old Walt interv...
1599997    Are you ready for your MoJo Makeover? Ask me f...
1599998    Happy 38th Birthday to my boo of alll time!!! ...
1599999    happy #charitytuesday @theNSPCC @SparksCharity...
Name: text, Length: 1600000, dtype: object

In [8]:
# Cleaning the tweet data using regex functions:

import re
def cleantxt(text):
    text = re.sub(r'@[A-Za-z0-9]+','',text)
    text = re.sub(r'#','',text)
    text = re.sub(r'^RT[\s]+','',text)
    text = re.sub(r'https?:\/\/\S+','',text)
    
    return text

t = tw_df['text'].apply(cleantxt)

In [9]:
# Tweet data after cleaning:

t

0            - Awww, that's a bummer.  You shoulda got Da...
1          is upset that he can't update his Facebook by ...
2           I dived many times for the ball. Managed to s...
3            my whole body feels itchy and like its on fire
4           no, it's not behaving at all. i'm mad. why am...
                                 ...
1599995    Just woke up. Having no school is the best fee...
1599996    TheWDB.com - Very cool to hear old Walt interv...
1599997    Are you ready for your MoJo Makeover? Ask me f...
1599998    Happy 38th Birthday to my boo of alll time!!! ...
1599999                             happy charitytuesday
Name: text, Length: 1600000, dtype: object

In [13]:
# Seperating the tweets and target:

inde_variable = t
de_variable = tw_df['target']

In [11]:
# Importing necessary libraries.

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [14]:
# Splitting the data into training and testing:

x_train,x_test,y_train,y_test = train_test_split(inde_variable,de_variable, test_size =0.2)

In [15]:
# Vectorizing the data using TfidfVectorizer:

vectorizer = TfidfVectorizer(stop_words='english')
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [16]:
# Initializing the model and training it:
# Used the Naive Bayes for classification.

clf = MultinomialNB()
clf.fit(x_train, y_train)

MultinomialNB()

In [17]:
# Predicting the results for testing:

y_pred = clf.predict(x_test)

In [19]:
# Calculating the accuracy and report for the model:

print('Accuracy:', accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.7611
              precision    recall  f1-score   support

           0       0.76      0.77      0.76    160091
           4       0.76      0.76      0.76    159909

    accuracy                           0.76    320000
   macro avg       0.76      0.76      0.76    320000
weighted avg       0.76      0.76      0.76    320000